html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


label {
    width: 100px;
}

.form-input {
    width: 400px;
}

.error {
    color:red;
}